.sectionOne{
    margin: 0px auto;
    width: 100%;
    display: flex;
    // border: 1px solid rgb(66, 121, 3);
}
.sectionOneLeft{
    margin: 0px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // border: 1px solid rgb(119, 7, 211);
    padding: 4%;
    & > p:nth-child(1){
        @include textContent(40px,800);
        color:$DarkBlue;
        padding: 5% 15% 5% 15%;
    }
    & > p:nth-child(2){
        @include textContent(20px,500);
       
        padding: 0 15% 5% 15%;
    }
    & > button:nth-child(3){
        
        margin: 2% 15% 5% 15%;
    }
}
.sectionOneRight{
    margin: 0px auto;
    width: 50%;
    // border: 1px solid rgb(2, 5, 128);

    & > img{
        width: 90%;
    }
}

@media (max-width:960px) {
    .sectionOne{
        flex-direction: column;
    }
    .sectionOneLeft{
        width: 90%;
        padding: 0%;
    }
    .sectionOneRight{
        margin: 0px auto;
        width: 90%;
        text-align: center;
    }
}